<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <main class="main container">
        <section class="section">
            <h2>Contact Information</h2>
            <p>Please feel free to contact us using the information below:</p>
            <ul>
                <li>Email: <a href="mailto:patelsujal292003@gmail.com">sujalpatel.com</a></li>
                <li>Phone: <a href="tel:+91 8866173815">+91 8866173815</a></li>
                <li>Address: Q-104 Saundarya-444 flat, Kh road,<br> OPP. Orizon Flat, Nr. Sayona Heights, Sargasan Gandhinagar-382006</li>
                <li>GitHub: <a href="https://github.com/patelsujal29">https://github.com/patelsujal29</a></li>     
            </ul>
        </section>
    </main>

    <footer class="footer">
        <!-- Footer content goes here -->
    </footer>
</body>
</html>